.Login{
    color:white;
}
.Boton1 {
    background-color:white;
    color:black;

}
.Boton2 {
    background-color: #0E034F;
    color: white;
}
.BotonCerrarSesion {
    background-color:darkred;
    color:white;
}